<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131704595055-b5lfo6p25s4qh0rs9ka05q27nkd3v9la.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131704595055-b5lfo6p25s4qh0rs9ka05q27nkd3v9la</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>131704595055-st5ntgehb84qjrvgh7mcef6ms74edk76.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCJVzyCWn3VLBr7Gi_JETccrc8NwEJmoI</string>
	<key>GCM_SENDER_ID</key>
	<string>131704595055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campfire</string>
	<key>PROJECT_ID</key>
	<string>campfire-f336b</string>
	<key>STORAGE_BUCKET</key>
	<string>campfire-f336b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:131704595055:ios:b1294e074415b72c0ae39a</string>
</dict>
</plist>
